<h1>Gambling Site</h1>

<h2>Please enter login details</h2>

<% if @error %>
  <p style="color: red;"><%= @error %></p>
<% end %>

<form action='/authenticate' method="get">
Username: <input name="username"></input><br><br>
Password: <input name="password"></input><br><br>
<input type="submit" name="submit"></input>
</form>

<p>Don't have an account? <a href="/signup">Sign up here</a></p>